* {
  box-sizing: border-box;
}

.main {
  width: 150px;
  height: 32px;
  display: inline-block;
  padding: 10px;
  font-size: 12px;
  color: white;
  border-radius: 5px;

  background-color: #123ecf;
  vertical-align: middle;
  transition: width 0.3s, background-color 0.3s 0.3s, transformease-in-out;
  /* transition: background-color 0.3s ease-in-out; */
}

.main:hover {
  width: 190px;
  background-color: #002398;
  transform: rotate(50deg);
}
